#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
.vs/
*.[Oo]bj
bin*/*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Pp]ublish*/
Ankh.NoLoad

#Tooling
_ReSharper*/
packages/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# Custom
*.private
*.vs10x
*.docstates
*.nupkg